@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

body {
  font-family: Nunito, sans-serif;
}

header {
  text-align: center;
  background-color: #2b2a4c;
  color: #ffff;
}

nav {
  background-color: #ea906c;
  color: #2b2a4c;
}
#menu {
  display: inline;
}

#menu > li {
  display: inline;
}
