@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

* {
  margin: 0;
}

body {
  font-family: Nunito, sans-serif;
  margin: 0;
}

/* heading */
header {
  text-align: center;
  background-color: #2b2a4c;
  color: #ffff;
  margin: 0;
  padding: 0;
}

header h1 {
  font-size: 3rem;
}

nav {
  background-color: #ea906c;
  color: #2b2a4c;
  text-transform: uppercase;
  padding: 3px;
}

nav a {
  text-decoration: none;
  font-weight: 900;
  color: #2b2a4c;
}

nav a:hover {
  color: #b31312;
}

#menu {
  display: inline;
}

#menu > li {
  display: inline;
  margin: 0 10px 0 10px;
}

.active-page {
  text-decoration: underline;
}

/* main conent section in index.html*/
#about-me {
  background-color: #eee2de;
  border-style: solid;
  border-color: #b31312;
  height: 700px;
  overflow: hidden;
}

#selfie {
  float: left;
  width: 50%;
  padding-top: 100px;
}

#selfie img {
  float: right;
  width: 450px;
}

#my-description {
  float: left;
  width: 25%;
  color: #2b2a4c;
  font-weight: 700;
  text-align: center;
  padding-top: 200px;
  padding-left: 75px;
  font-size: 1.5rem;
}

/* footer */
footer h2 {
  text-align: center;
  margin: auto;
}

footer ul {
  text-align: center;
  margin-top: 3%;
  padding-bottom: 30px;
}

footer li {
  list-style: none;
  display: inline;
  margin: 5%;
}
